* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:,;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    padding: 30px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: darkgray;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:{
    background-color: green;
}

.signup-link{
    text-align: center;
    margin-top: 20px;
}

.signup-link{
    color: green;
    text-decoration: none;
}

.signup-link{
    text-decoration: underline;
}
